pkgbase = musa
	pkgdesc = MooreThreads MUSA
	pkgver = 3.0.1
	pkgrel = 1
	url = https://developer.mthreads.com/sdk/download/musa
	arch = x86_64
	license = custom
	makedepends = binutils
	options = !strip
	source = MUSA+SDK-MUSA+SDK+rc3.0.1.zip::https://developer.mthreads.com/sdk/download/musa?equipment=&os=&driverVersion=&version=
	source = 00-Define-PCI_IRQ_LEGACY-if-not-exist.diff::https://github.com/dixyes/mtgpu-drv/commit/b2e9b27c563b424f66c619ea0f8593fa4a21e395.diff
	source = 01-Use-fd_file-macro-if-exist.diff::https://github.com/dixyes/mtgpu-drv/commit/f6cc85171ee4dd0f04d6efca90d6e90f563012b9.diff
	source = 02-Remove-the-second-arg-of-__assign_str.diff::https://github.com/dixyes/mtgpu-drv/commit/3d588b1fad860499486b3e8a7a18138e860eb032.diff
	source = 03-Add-missing-headers.diff::https://github.com/dixyes/mtgpu-drv/commit/3a868f7a8c2ccb158dcc109c15f9a4ef9b75a7ce.diff
	source = 04-Adopt-struct-platform_device-changes.diff::https://github.com/dixyes/mtgpu-drv/commit/f8da479013ee89bd4269150550482fb5c9630762.diff
	source = 05-Fake-as-ubuntu.diff::https://github.com/dixyes/mtgpu-drv/commit/bbbffd4d935f07a217798f2db9f4153fedd73610.diff
	source = 06-Add-missing-include.diff::https://github.com/dixyes/mtgpu-drv/commit/e9f91bbf42fb26c1715743f124f465bb7fc373bf.diff
	source = 07-Fix-missing-include.diff::https://github.com/dixyes/mtgpu-drv/commit/9d721e42ee11449132b87ef38df07ab62babb360.diff
	source = 08-Add-FOP_UNSIGNED_OFFSET-flag.diff::https://github.com/dixyes/mtgpu-drv/commit/98b1c323f939dc70f5923511587521f8cc0cfb7d.diff
	source = 09-Add-lock-for-find_vma.diff::https://github.com/dixyes/mtgpu-drv/commit/03fc1a0fc1af50f51ec009d6106eaf7e2073e80e.diff
	sha256sums = b6880b553cb7941fa4114cb8b9cf83b05cc3cd7e955956b9499522da67b2927a
	sha256sums = 161d7eb17d48ee7ea52f7d85d51779088a2b7196489ef5f1d9f06f7a9543372f
	sha256sums = 1431575cc67bd30d5b6dcc134954cb8f326203f80f4041362fcee5f1fd609275
	sha256sums = 9caf0cd1059baa1b4647cf8463bada164e0d4496b2fc980fd8dbee37a00875ca
	sha256sums = 9f4ef75f7d42be51a5e99b18d446a7c420f137972f01ec43223ac1da6d9c6904
	sha256sums = 25e746bfa023d3d859c04c01b34c976213541e4de2bf34f32a8ad9f9ca20c215
	sha256sums = 010aa14a0aa7bf3cb187702dda069904f7339d8ce25ac90c2d9f35a439f54981
	sha256sums = 2a19e845ea881698e4265da12d79e0fa040bc56cee798f1af4341af3464f97f9
	sha256sums = af8f7bc0010d957f6ea2d0f5de7f0d6ca605878c74246644482b2a71c00e798c
	sha256sums = 57df5a3422a9d06d603277447b800a22dd8d02bda170bb87fd70cf394bc21b4d
	sha256sums = 32ee7687ada951838d18f3401866903d5eb6cdaaeb39f13d53f3fc2a72b421b8

pkgname = mtgpu-dkms
	pkgdesc = MooreThreads mtgpu dkms driver
	depends = dkms

pkgname = musa-userspace-chunxiao
	pkgdesc = MooreThreads MUSA userspace libraries for chunxiao (S70 S80 S3000) include OpenCL, Vulkan, Xorg drivers, muDNN, MCCL, MUSA Toolkits
	depends = openssl-1.1
	provides = musa-userspace
	conflicts = musa-userspace
	replaces = musa-userspace

pkgname = musa-userspace-quyuan
	pkgdesc = MooreThreads MUSA userspace libraries for quyuan (S90 S4000) include OpenCL, Vulkan, Xorg drivers, muDNN, MCCL, MUSA Toolkits
	depends = openssl-1.1
	provides = musa-userspace
	conflicts = musa-userspace
	replaces = musa-userspace
