pkgbase = musa
	pkgdesc = MooreThreads MUSA
	pkgver = 2.7.0
	pkgrel = 1
	url = https://developer.mthreads.com/sdk/download/musa
	arch = x86_64
	license = custom
	makedepends = binutils
	options = !strip
	source = MUSA+SDK-rc2.1.0_Intel_CPU_Ubuntu_chunxiao.zip::https://developer.mthreads.com/sdk/download/musa?equipment=&os=&driverVersion=&version=
	source = MUSA+SDK-rc2.1.0_Intel_CPU_Ubuntu_quyuan.zip::https://developer.mthreads.com/sdk/download/musa?equipment=&os=&driverVersion=&version=
	source = 02-fake-ubuntu-2.7.0-1.diff::https://github.com/dixyes/mtgpu-drv/commit/81e52ddbbcc587a800724d25584d8060a1228429.diff
	sha256sums = de4a8c9a7aae6e70a814ec7b0c1419e78fd5a73d0ffdc0d0790b15f3c8d5dcc7
	sha256sums = e1a66aed4c30337757ef85d8c8067149027adb0678b11eccc69b3e993b74923e
	sha256sums = 37ae2287018d52a8bdd6909ccfbee005a049ab90f8c8b4d8159473867be950d2

pkgname = mtgpu-dkms
	pkgdesc = MooreThreads mtgpu dkms driver
	depends = dkms

pkgname = musa-userspace-chunxiao
	pkgdesc = MooreThreads MUSA userspace libraries for chunxiao (S70 S80 S3000) include OpenCL, Vulkan, Xorg drivers, muDNN, MCCL, MUSA Toolkits
	provides = musa-userspace
	conflicts = musa-userspace
	replaces = musa-userspace

pkgname = musa-userspace-quyuan
	pkgdesc = MooreThreads MUSA userspace libraries for quyuan (S90 S4000) include OpenCL, Vulkan, Xorg drivers, muDNN, MCCL, MUSA Toolkits
	provides = musa-userspace
	conflicts = musa-userspace
	replaces = musa-userspace
